#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.custom-shape {
  clip-path: polygon(
    2.75% -0.25%,
    12.26% -0.25%,
    14.51% 9.26%,
    31.2% 9.26%,
    33.61% -0.25%,
    100% -0.25%,
    100% 85.71%,
    96.75% 99.75%,
    0% 100%,
    0% 8.77%
  );
}

.custom-shape2 {
  clip-path: polygon(
    2.75% -0.25%,
    11% -0.25%,
    13.26% 9.26%,
    32.2% 9.26%,
    34.61% -0.25%,
    100% -0.25%,
    100% 85.71%,
    96.75% 99.75%,
    0% 100%,
    0% 8.77%
  );
}
/* clip path for mobile screen */
/* @media (max-width: 640px) {
  .custom-shapeMobile {
    clip-path: polygon(
      4.77% 0%,
      26% 0%,
      30.07% 5.45%,
      64.78% 5.45%,
      68.51% 0%,
      100% 0%,
      100% 94.73%,
      95% 100%,
      0% 100%,
      0% 4.25%
    );
  }
}
@media (max-width: 640px) {
  .custom-shapeMobile2 {
    clip-path: polygon(
      4.77% 0%,
      24% 0%,
      28.07% 5.45%,
      66.78% 5.45%,
      70.51% 0%,
      100% 0%,
      100% 94.73%,
      95% 100%,
      0% 100%,
      0% 4.25%
    );
  }
} */
/* clip path for second shape */
.second-shape {
  clip-path: polygon(
    0% 4.8%,
    5.48% 0.13%,
    32.92% 0.13%,
    35.32% 3.92%,
    57.84% 3.92%,
    60.13% 0.13%,
    95.88% 0.13%,
    96.71% 0.52%,
    99.33% 0.55%,
    99.41% 3.92%,
    100% 4.67%,
    100% 95.25%,
    96% 100%,
    0% 100%
  );
}
.second-shape2 {
  clip-path: polygon(
    0% 4.8%,
    5.48% 0.13%,
    31.4% 0.13%,
    33.8% 3.92%,
    59.33% 3.92%,
    61.6% 0.13%,
    95.88% 0.13%,
    100% 4.8%,
    100% 95.25%,
    96% 100%,
    0% 100%
  );
}
/* second shape button clip path */
.button-shape {
  clip-path: polygon(
    100% 0%,
    100% 79.17%,
    91.41% 100%,
    0% 100%,
    0% 20.83%,
    9.38% 0%
  );
}
/* Third  shape clip path */
.third-shape {
  clip-path: polygon(
    1.54% 0%,
    39.8% 0%,
    41.07% 5.94%,
    55.06% 5.94%,
    56.4% 0%,
    97.95% 0%,
    100% 10.93%,
    100% 93.57%,
    98.82% 100%,
    0% 100%,
    0% 5.94%
  );
}

.premiumBox {
  clip-path: polygon(
    0% 4.78%,
    5.47% 0.12%,
    19.62% 0.01%,
    23.64% 4.78%,
    68.26% 4.78%,
    71.69% 0.01%,
    90.99% 0.12%,
    99.75% 7.86%,
    99.75% 95%,
    95.76% 99.74%,
    0% 99.74%
  );
}

.premiumBox2 {
  clip-path: polygon(
    0% 4.78%,
    5.47% 0.12%,
    40% 0.01%,
    42.64% 4.78%,
    70.26% 4.78%,
    73.69% 0.01%,
    90.99% 0.12%,
    99.75% 7.86%,
    99.75% 95%,
    95.76% 99.74%,
    0% 99.74%
  );
}
.premiumBox3 {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
/* clip path for background image*/
/* .backgoundpath {
  clip-path: polygon(
    0% 5.65%,
    1.5% -0.36%,
    38.5% 0%,
    41.66% 5%,
    50% 5%,
    53% 0%,
    97.47% -0.36%,
    100.08% 11.79%,
    100.08% 92.86%,
    98.78% 100%,
    0% 100%
  );
}
.backgoundpathFirstDiv {
  clip-path: polygon(
    0% 4.95%,
    1.4% -0.36%,
    39.1% 0%,
    40.1% 5.9%,
    52.3% 5.9%,
    53.3% 0%,
    97.6% -0.36%,
    100.08% 10.9%,
    100.08% 93.4%,
    98.9% 100%,
    0% 100%
  );
}
@media (max-width: 1050px) {
  .backgoundpath2 {
    clip-path: polygon(
      0% 4.95%,
      1.4% -0.36%,
      35% 0%,
      37% 5.8%,
      53.5% 5.8%,
      54.6% 0%,
      97.8% -0.36%,
      100.08% 10.9%,
      100.08% 93.4%,
      98.9% 100%,
      0% 100%
    );
  }
  .backgoundpath2FirstDiv {
    clip-path: polygon(
      0% 5.65%,
      1.5% -0.36%,
      35.5% 0%,
      37.5% 5.8%,
      53% 5.8%,
      54.2% 0%,
      97.9% -0.36%,
      100.08% 10.4%,
      100.08% 94%,
      99% 100%,
      0% 100%
    );
  }
}
@media (max-width: 640px) {
  .backgoundpathMobile {
    clip-path: polygon(
      0% 0%,
      20.62% 0%,
      23.37% 6.23%,
      59.9% 6.23%,
      70% 0%,
      92% 0%,
      100% 6%,
      100% 98%,
      0% 100%
    );
  }
  .backgoundpathMobileFirstDiv {
    background-image: url("./Vector1.png");
    clip-path: polygon(
      0% 0%,
      19.8% 0%,
      22.8% 5.66%,
      68.2% 5.6%,
      71.6% 0%,
      95.5% 0%,
      100% 6.5%,
      100% 99%,
      0% 98%
    );
    background-position: top;
    background-repeat: no-repeat;
  }
} */
/* below new 4 shapes CSS*/

/* first shape  */
.FirstShapecss {
  clip-path: polygon(
    4% 0%,
    30% 0%,
    31% 4%,
    67% 4%,
    68% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 4%
  );
}
.FirstShapecss2 {
  clip-path: polygon(
    4% 0%,
    31.4% 0%,
    32.4% 4%,
    66% 4%,
    67% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 4%
  );
}
/* second shape css */
.SecondShapecss {
  clip-path: polygon(
    2% 0%,
    27% 0%,
    28% 6%,
    72% 6%,
    73% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 4%
  );
}
.SecondShapecss2 {
  clip-path: polygon(
    2% 0%,
    28% 0%,
    29% 6%,
    71% 6%,
    72% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 4%
  );
}
/* third shape  */
.ThirdShapecss {
  clip-path: polygon(
    5% 0%,
    35% 0%,
    37% 5%,
    63% 5%,
    65% 0%,
    95% 0%,
    100% 8%,
    100% 94.7%,
    96.9% 99.4%,
    0% 99.6%,
    0% 8%
  );
}
.ThirdShapecss2 {
  clip-path: polygon(
    5% 0%,
    36% 0%,
    38% 5%,
    62% 5%,
    64% 0%,
    95% 0%,
    100% 8%,
    100% 95%,
    97% 100%,
    0% 100%,
    0% 8%
  );
}
/* fourth shape */
.FourthShapecss {
  clip-path: polygon(
    5% 0%,
    30% 0%,
    32% 4%,
    68% 4%,
    70% 0%,
    95% 0%,
    100% 8%,
    100% 94.7%,
    96.9% 99.4%,
    0% 99.6%,
    0% 5%
  );
}
.FourthShapecss2 {
  clip-path: polygon(
    5% 0%,
    32% 0%,
    34% 4%,
    66% 4%,
    68% 0%,
    95% 0%,
    100% 8%,
    100% 95%,
    97% 100%,
    0% 100%,
    0% 5%
  );
}
/**************************************************************************************/

.marketPlacePath {
  clip-path: polygon(
    0% 5.65%,
    1.5% -0.36%,
    39.5% 0%,
    41.66% 5%,
    50% 5%,
    53% 0%,
    97.47% -0.36%,
    100.08% 11.79%,
    100.08% 92.86%,
    98.78% 100%,
    0% 100%
  );
}

.marketPlaceBgPathFirstDiv {
  clip-path: polygon(
    0% 4.95%,
    1.4% -0.36%,
    39.1% 0%,
    40.1% 5.9%,
    52.3% 5.9%,
    53.3% 0%,
    97.6% -0.36%,
    100.08% 10.9%,
    100.08% 93.4%,
    98.9% 100%,
    0% 100%
  );
}

@media (max-width: 1050px) {
  .marketPlacePath2 {
    clip-path: polygon(
      0% 4.95%,
      1.4% -0.36%,
      36% 0%,
      37% 5.8%,
      53.5% 5.8%,
      54.6% 0%,
      97.8% -0.36%,
      100.08% 10.9%,
      100.08% 93.4%,
      98.9% 100%,
      0% 100%
    );
  }

  .marektPlaceBg2FirstDiv {
    clip-path: polygon(
      0% 5.65%,
      1.5% -0.36%,
      36.5% 0%,
      37.5% 5.8%,
      53% 5.8%,
      54.2% 0%,
      97.9% -0.36%,
      100.08% 10.4%,
      100.08% 94%,
      99% 100%,
      0% 100%
    );
  }
}

@media (max-width: 640px) {
  .bgMarkettPlacePathMobile {
    clip-path: polygon(
      0% 0%,
      20.62% 0%,
      23.37% 6.23%,
      59.9% 6.23%,
      70% 0%,
      92% 0%,
      100% 6%,
      100% 98%,
      0% 100%
    );
  }

  .bgMraketPlaceMobileFirstDiv {
    clip-path: polygon(
      0% 0%,
      19.8% 0%,
      22.8% 5.66%,
      68.2% 5.6%,
      71.6% 0%,
      95.5% 0%,
      100% 6.5%,
      100% 99%,
      0% 98%
    );
    background-position: top;
    background-repeat: no-repeat;
  }
}

/* clip path for background image end */

.marketPLaceBGColor {
  background: linear-gradient(
    126.72deg,
    #01273c 2.65%,
    #01273c 27.02%,
    #00314b 52.41%,
    #00334f 79.29%,
    #023551 99.4%
  );
}

.maarketPlaceHeroMainParent {
  width: 90%;
  height: 48vh;
  overflow: hidden;
}

@media (max-width: 600px) {
  .maarketPlaceHeroMainParent {
    width: 100% !important;
    height: 38rem !important;

    top: 4rem;
    position: relative;
    left: -0.2rem;
  }

  .marketPlaceTextContaier {
    margin-left: 2rem !important;
  }
}

@media (max-width: 1050px) {
  .maarketPlaceHeroMainParent {
    width: 90%;
    height: 26rem;
  }
}

.marketPlaceBlueBall {
  background: linear-gradient(135.8deg, #2c98eb 2.53%, #1a3648 98.18%);
  filter: blur(4px);
}

.marketPlaceGlassMorphismContainer {
  background: #194157;
  opacity: 0.1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  width: 96%;
  height: 17rem;
  border-radius: 10px;
}
/********************************************************************************************/
