#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.custom-shape {
  clip-path: polygon(
    2.75% -0.25%,
    12.26% -0.25%,
    14.51% 12.26%,
    31.2% 12.26%,
    33.61% -0.25%,
    100% -0.25%,
    100% 85.71%,
    96.75% 99.75%,
    0% 100%,
    0% 8.77%
  );
}

.custom-shape2 {
  clip-path: polygon(
    2.75% -0.25%,
    11% -0.25%,
    13.26% 12.26%,
    32.2% 12.26%,
    34.61% -0.25%,
    100% -0.25%,
    100% 85.71%,
    96.75% 99.75%,
    0% 100%,
    0% 8.77%
  );
}
